    <section id="showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
        <div class="showcase-left">
        <img src="../img/googlehome.jpg">
        </div>
          </div>

          <div class="col-md-6 col-sm-6">
          <div class="showcase-right">
            <h1>Hello, patients and physicians!</h1>
            <p>Welcome to the web interface for the Healthy Coping app</p>
          </div>
          <br>
          <a class="btn btn-default btn-lg showcase-btn">Read more</a>
          </div>
        </div>
      </div>
    </section>

    <hr>

    <section id="info2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="info-left">
                        <h2>For Patients</h2>
                        <p id="left-p">The app will help you self-manage the complexities that come with diabetes. It is equipped with features such as: monitoring blood glucose levels, physical activity, and weight; providing an instant screening service for emotional coping with real-time results; and food recommendations catered to helping diabetics eat healthy.</p>
                        <a href="#!/visuals" class="btn btn-primary btn-lg showcase-btn">View Results <span class="glyphicon glyphicon-eye-open"></span> </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="info-right">
                        <h2>For Physicians</h2>
                        <p id="right-p">When your diabetic patients use our self-management app, you can monitor their status without scheduling in-person appointments. View their results on this website with the click of a button or even modify the features to better fit your patients. </p>
                        <br>
                        <a href="#!/visuals" class="btn btn-primary btn-lg showcase-btn">View Results <span class="glyphicon glyphicon-eye-open"></span> </a>
                        <a href="#!/builder" class="btn btn-primary btn-lg showcase-btn">Create a Survey <span class="glyphicon glyphicon-edit"></span></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--
    <hr>
    <section id="info1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="info-left">
                    <img src="img/image2.png">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="info-right">
                    <h2>Get to Know the App</h2>
                    <p>Equipped with features such as: monitoring blood glucose levels, physical activity, and weight; providing an instant screening service for emotional coping with real-time results; and food recommendations catered to helping diabetics eat healthy.</p>
                    <br>
                    <a class="btn btn-default btn-lg">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                <h1>Tell Us What You Think:</h1>
                    <form>
                      <div class="form-group">
                        <label>Name: </label>
                        <input class="form-control" type="text" name="" value="" placeholder="Enter Name">
                      </div>
                      <div class="form-group">
                        <label>Email: </label>
                        <input class="form-control" type="text" name="" value="" placeholder="Enter Email">
                      </div>
                      <div class="form-group">
                        <label>Message: </label>
                        <textarea class="form-control" name="" value="" placeholder="Enter Message"></textarea>
                      </div>
                      <button class="btn btn-default">Submit</button>
                    </form>
                </div>

                <div class="col-md-7 col-sm-7">

                </div>
            </div>
        </div>
    </section>

    <section id="testimonial">
        <div class="container">
        <p>The purpose is to develop a mobile web-app intervention using Google Home to improve healthy coping among elders with Type 2 Diabetes Mellitus (T2DM). American Association of Diabetes Educators (AADE) defines that healthy coping is to find healthy ways to cope that work with patient’s lifestyle. However, this principle is one of least explored self-care behaviors. The proposed app will track and promote exercises, activities and mood that are proven to help patients to cope with diabetes.</p>
        <p class="customer">- Project for Healthy Coping in Diabetes: An easy-to-use diabetes self-management mobile application using Google Home for older people with Type 2 Diabetes Mellitus</p>
        </div>
    </section>

    