<section id="header">
   <div class="container">
    <div ng-init="getMonitoringData(); getCopingData()" ></div>
     <div class="row">
     <h1 id="visuals-header">View Progress</h1>
       <div id="visuals-well" class="col-md-12 col-sm-12 well well-lg"">
          <div class="btn-group btn-group-justified btn-lg">
            <div class="btn-group">
                <button type="button" ng-click="generateGlucoseGraph()" class="btn btn-primary">Blood Glucose</button>
            </div>
            <div class="btn-group">
                <button type="button" ng-click="generateExerciseGraph()" class="btn btn-primary">Physical Activity</button>
            </div>
            <div class="btn-group">
                <button type="button" ng-click="generateWeightGraph()" class="btn btn-primary">Weight</button>
            </div>
            <div class="btn-group">
                <button type="button" ng-click="generateCopingGraph()" class="btn btn-primary">Depression Screening</button>
            </div>
          </div>
          <br>


         <div id="timeWell" class="well well-sm" ng-show="coping">
          <form id="timeOptions" ng-init="timeSelected = 'weekly'" >
            <input type="radio" ng-model="timeSelected" value="weekly" ng-click="generateCopingGraph()">Weekly &emsp;
<!--             <input type="radio" ng-model="timeSelected" value="monthly" ng-click="generateCopingGraph()">Monthly &emsp;
 -->            <input type="radio" ng-model="timeSelected" value="all" ng-click="generateCopingGraph()">Total &emsp;
          </form>
          </div>

<!--           <div id="timeWell" class="well well-sm" ng-show="coping">
          <form id="timeOptions" ng-init="timeSelected = 'weekly'">
          <md-radio-group ng-model="timeSelected">
            <md-radio-button value="weekly" class="md-primary" ng-click="generateCopingGraph()">Weekly &emsp;</md-radio-button>
            <md-radio-button value="monthly" ng-click="generateCopingGraph()">Monthly &emsp;</md-radio-button>
            <md-radio-button value="all" ng-click="generateCopingGraph()">Total &emsp;</md-radio-button>
          </md-radio-group>
          </form>
          </div> -->


          <div id="container">
          <!-- where to place the graphs -->

          </div>

          <br>

          <div id="coping-info" ng-show="coping">
          <hr> 
            <h4 id="fyi-head">Analyzing the Depression Screening results: </h4>
            <ul id="fyi">
              <li> Each colored bar represents a question on the PHQ-9 screening survey. </li>
              <li> The length of each bar is equivalent the numerical value of the patient's answer 
              <br>(very often = 3, often = 2, sometimes = 1, never = 0)
              <li> The total length of one entire bar is equal to the summed score of all indiviual questions.
              <li> The severity of the patient's depression is notated by the colored region that the total score falls into. </li>
            </ul>
          <div>

        </div>
      </div>
   </div>
 </section>

